{% extends 'core/base.html' %}

{% block title %}Lista de Documentos{% endblock %}

{% block content %}
{% load static %}


<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ document.title }}</li>
    </ol>
</nav>
<div class="row">
    <div class="col-md-3">
        <h3 class="fw-bolder fs-3 text-center" style="color: rgb(78, 79, 80);">Nome do Livro</h3>
        <div class="card shadow border">
            <img src="{% static 'img/d_9789727227815_redes_de_computadores-c.c._10._ed._a.a._.jpg' %}" alt=""
                class="img-fluid">
        </div>
    </div>
    <div class="col-md-9">
        <h3>Descrição do Livro</h3>
        <p>{{ document.description }}</p>
        <ul>
            <li>Autor: {{ document.author }}</li>
            <li>Ano de Publicação: {{ document.year }}</li>
            <li>Curso: Curso y</li>
        </ul>
        <div class="d-flex gap-2">
            <a href="" class="btn btn-primary rounded-0">Solicitar Impressão</a>
            <button type="button" class="btn btn-primary rounded-0" data-bs-toggle="modal"
                data-bs-target="#exampleModal">Ler Documento</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">{{ document.title }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe src="{% static 'pdfjs/web/viewer.html' %}?file={{ document.link.url }}" width="100%" height="600px" style="border: none;">
                </iframe>
            </div>
        </div>
    </div>
</div>

{% endblock %}