{% extends 'layouts/admin.html' %}

{% block title %}Aprovação de Pedidos{% endblock %}

{% block content %}
{% load static %}
<div class="mt-5">
    <div class="row">
        <div class="card shadow border border-0">
            <div class="card-body">
                <h4 class="text-center">Tem certeza que deseja excluir o curso #{{ course.name }}?</h4>
                <div class="d-flex justify-content-center gap-1 mt-3 mb-3">
                    <form method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-sm">Excluir</button>
                    </form>
                    <a href="{% url 'courses' %}" class="btn btn-primary btn-sm">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}