{% extends 'base_site.html' %}

{% block title %}Painel do Administrador{% endblock %}

{% block content %}
{% load static %}

<div class="card shadow-sm">
    <h2>Registo de Usuário</h2>
    <form id="formUsuario" method="post">
        {% csrf_token %}

        <div class="mb-4">
            <label for="firstname" class="form-label">Nome</label>
            <input type="text" class="form-control" name="firstname" placeholder="Ex: Maria da Silva" required />
            <div class="invalid-feedback">Por favor, insira o nome próprio.</div>
        </div>

        <div class="mb-4">
            <label for="lastname" class="form-label">Apelido</label>
            <input type="text" class="form-control" name="lastname" placeholder="Ex: Pelembe" required />
            <div class="invalid-feedback">Por favor, insira o apelido.</div>
        </div>

        <div class="mb-4">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" placeholder="exemplo@email.com" required />
            <div class="invalid-feedback">Insira um e-mail válido.</div>
        </div>

        <div class="mb-5">
            <label for="perfil" class="form-label">Perfil de Acesso</label>
            <select class="form-select" name="perfil" required>
                <option value="" disabled selected>Selecione o perfil</option>
                <option value="Estudante">Estudante</option>
                <option value="Docente">Docente</option>
                <option value="Admin">Bibliotecário (Admin)</option>
            </select>
            <div class="invalid-feedback">Escolha um perfil válido.</div>
        </div>

        <button type="submit" class="btn btn-primary">Cadastrar Usuário</button>
    </form>

</div>

{% endblock %}