{% extends 'base_site.html' %}

{% block title %}Registar Documento{% endblock %}

{% block content %}
{% load static %}

<div class="form-section">
    <h5 class="mb-4">Registar Novo Manual</h5>
    <form id="formManual" method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row g-4">
            <div class="col-md-6">
                <label for="titulo" class="form-label">Título do Manual</label>
                <input type="text" class="form-control" name="title" placeholder="Ex: Lógica de Programação" required />
            </div>
            <div class="col-md-6">
                <label for="titulo" class="form-label">Descrição</label>
                <textarea class="form-control" name="description" required ></textarea>
            </div>
            <div class="col-md-6">
                <label for="autor" class="form-label">Autor</label>
                <input type="text" class="form-control" name="author" placeholder="Ex: Prof. João Santos" required />
            </div>
            <div class="col-md-6">
                <label for="curso" class="form-label">Tipo</label>
                <select class="form-select" name="type" required>
                    <option value="livros" selected>Livros</option>
                    <option value="artigos">Artigos</option>
                    <option value="teses">Teses</option>
                    <option value="revistas">Revistas</option>
                </select>
            </div>
            <div class="col-md-3">
                <label for="ano" class="form-label">Ano</label>
                <input type="number" class="form-control" name="year" min="1400" max="2099" placeholder="2024" required />
            </div>
            <div class="col-md-12">
                <label for="link" class="form-label">Link do PDF</label>
                <input type="file" class="form-control" name="upload" required />
            </div>
        </div>
        <div class="mt-4">
            <button type="submit" class="btn btn-primary px-4">
                <i class="bi bi-cloud-upload-fill"></i> Adicionar Manual
            </button>
        </div>
    </form>
</div>

{% endblock %}